# Application Configuration
APP_NAME=your-app-name
PORT=8080

# Allowed Origins (CORS)
ALLOWED_ORIGINS=http://localhost:4000,http://localhost:4002

# MongoDB Configuration
MONGODB_URL=mongodb://127.0.0.1:27017/node-ts-boilerplate

# JWT Configuration
JWT_SECRET=your-secure-secret-key
# Access token expiry (in minutes)
JWT_ACCESS_EXPIRATION_MINUTES=30
# Refresh token expiry (in days)
JWT_REFRESH_EXPIRATION_DAYS=30
# Reset password token expiry (in minutes)
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Email verification token expiry (in minutes)
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP Email Configuration
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=your-email-username
SMTP_PASSWORD=your-email-password
EMAIL_FROM=support@yourapp.com

# Cookie Configuration
COOKIE_SECRET=your-secure-cookie-secret

# Application URLs
HOST_URL=http://localhost:8080
APP_URL=http://localhost:4002
ADMIN_URL=http://localhost:4000

# AWS S3 Configuration
AWS_REGION=your-aws-region
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_BUCKET_NAME=your-bucket-name
NPS_HMAC_SECRET=your_secret_here
GUEST_APP_URL=https://app.infiora.com

# Stripe Connect
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PLATFORM_FEE_PERCENT=2.5
