# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# build folder
dist

# docker volume
data

# Logs
logs/*.log
logs/*.log.*
*.log
*.log.*

# PM2
.pm2

.claude
